/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [vElement]
      ,[vParent1]
      ,[vParent2]
      ,[vParent3]
      ,[vParent4]
      ,[vParent5]
      ,[vParent6]
      ,[vParent7]
      ,[vParent8]
      ,[vComment]
      ,[vWeight]
      ,[vType]
      ,[vAttribute1]
      ,[vAttribute2]
      ,[vAttribute3]
      ,[vAttribute4]
      ,[vAttribute5]
      ,[vAttribute6]
      ,[vAttribute7]
      ,[vAttribute8]
      ,[vAttribute9]
      ,[vAttribute10]
      ,[vAttribute11]
      ,[vAttribute12]
      ,[vAttribute13]
      ,[vAttribute14]
      ,[vAttribute15]
      ,[vAttribute16]
      ,[vAttribute17]
      ,[vAttribute18]
      ,[vAttribute19]
      ,[vAttribute20]
      ,[vAttribute21]
      ,[vAttribute22]
      ,[vAttribute23]
      ,[vAttribute24]
      ,[vAttribute25]
      ,[vAttribute26]
      ,[vAttribute27]
      ,[vAttribute28]
      ,[vAttribute29]
      ,[vAttribute30]
      ,[vAttribute31]
      ,[vAttribute32]
      ,[vAttribute33]
      ,[vAttribute34]
      ,[vAttribute35]
      ,[vAttribute36]
      ,[vAttribute37]
      ,[vAttribute38]
      ,[vAttribute39]
      ,[vAttribute40]
  FROM [dbo].[Dimension_Source]